version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: ${AWS_REGION}
      AWS_S3_BUCKET_NAME: ${AWS_S3_BUCKET_NAME}
      REDIS_HOST: redis
      REDIS_PORT: ${REDIS_PORT}
    ports:
      - '3000:3000'
    depends_on:
      - postgres_db
      - redis
    networks:
      - nestjs

  postgres_db:
    container_name: postgres-db
    image: postgres:latest
    ports:
      - 5434:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=NIvW7vcwzIy3zIEV
      - POSTGRES_DB=xtra_change_4amg
    networks:
      - nestjs
    restart: unless-stopped

  redis:
    container_name: redis
    image: redis:latest
    ports:
      - 6379:6379
    networks:
      - nestjs
    restart: unless-stopped

networks:
  nestjs:
